# {{ ansible_managed }}
{% for tunnel in i2p_server_tunnels %}
# {{ tunnel.name }} — {{ i2p_addresses[tunnel.name] }}
[{{ tunnel.name }}]
type = server
host = 127.0.0.1
port = {{ tunnel.port }}
keys = {{ tunnel.name }}.dat
signaturetype = {{ i2p_tunnel_signature_type }}
inbound.length = {{ i2p_tunnel_length }}
outbound.length = {{ i2p_tunnel_length }}

{% endfor %}
