# {{ gemini_domain }}

This capsule is up. Set capsule_source to replace this page.

=> gemini://{{ gemini_domain }}/ clearnet
=> gemini://{{ onion_hostnames[gemini_onion_service] }}/ tor
=> gemini://{{ i2p_addresses[gemini_i2p_tunnel] }}/ i2p
