# {{ gemini_domain }}

This capsule is up. Set capsule_source to replace this page.

=> gemini://{{ gemini_domain }}/ clearnet
=> gemini://{{ onion_hostname }}/ tor
=> gemini://{{ i2p_addresses.gemini }}/ i2p
