<!DOCTYPE html>
<meta charset="utf-8">
<title>{{ web_domain }}</title>
<h1>{{ web_domain }}</h1>
<p>This host is up. Set <code>website_source</code> to replace this page.</p>
<ul>
  <li>https://{{ web_domain }}</li>
  <li>http://{{ onion_hostnames[web_onion_service] }}</li>
  <li>http://{{ i2p_addresses[web_i2p_tunnel] }}</li>
  <li>gemini://{{ gemini_domain }}</li>
  <li>https://{{ cgit_domain }}</li>
</ul>
