# {{ ansible_managed }}
# Post-quantum-only key exchange. Clients that cannot negotiate one of
# the hybrid KEMs below are disconnected during SSH key exchange before
# authentication.

Port {{ ssh_port }}
AddressFamily any

KexAlgorithms {{ ssh_hardening_kex_effective | join(',') }}
Ciphers {{ ssh_hardening_ciphers | join(',') }}
MACs {{ ssh_hardening_macs | join(',') }}

{% for key in ssh_hardening_host_keys_effective %}
HostKey {{ key }}
{% endfor %}
HostKeyAlgorithms {{ ssh_hardening_host_key_algorithms | join(',') }}
PubkeyAcceptedAlgorithms {{ ssh_hardening_pubkey_algorithms | join(',') }}

PermitRootLogin no
AuthenticationMethods publickey
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
AllowUsers {{ ssh_allowed_users | join(' ') }}

MaxAuthTries {{ ssh_hardening_max_auth_tries }}
LoginGraceTime {{ ssh_hardening_login_grace }}
ClientAliveInterval {{ ssh_hardening_client_alive_interval }}
ClientAliveCountMax {{ ssh_hardening_client_alive_count_max }}

AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PermitTunnel no
PrintMotd no
